<div class="page__footer-follow">
  <ul class="social-icons">
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
      <li><a href="https://twitter.com/pikselbitworks"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      <li><a href="https://github.com/piksel"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      <li><a href="https://gitlab.com/p1ksel"><i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> Gitlab</a></li>
      <li><a href="https://bitbucket.org/p1ksel"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div>
