{%- assign is_main = site.github.repository_name == "piksel.github.io" -%}
<div class="masthead">
       </div>
     </nav>
 <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
       <a class="site-title" href="{{ "/" | relative_url }}">dev.p1k.se</a>
    {%- if is_main -%}
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- else -%}
        <span class="site-title"> / </span>
        <a class="site-title" href="{{ site.url }}">{{ site.title | escape }}</a>
    {%- endif -%}

        <ul class="visible-links">
         {%- if is_main -%}
            {% for repo_name in site.data.navigation.ghrepos %}
                {%- assign repo = site.github.public_repositories | where: "repository_name", repo_name | first -%}
                <li class="masthead__menu-item">
                    <a href="/{{ repo_name }}" title="{{ repo.project_tagline }}">{{ repo_name }}</a>
                </li>
          {% endfor %}

         {%- else -%}
            {%- if site.github.latest_release -%}
              <li class="masthead__menu-item">
          <a class="page-link" href="{{site.github.latest_release.html_url}}">Download {{site.github.latest_release.tag_name}}</a>
              </li>
            {%- endif -%}
            {%- if docs_url -%}
               <li class="masthead__menu-item">
         <a class="page-link" href="{{site.url | append: docs_url}}" title="Documentation">Docs</a>
               </li>
            {%- endif -%}
                <li class="masthead__menu-item">
        <a class="page-link" href="{{site.github.zip_url}}">Source (zip)</a> 
                </li>
                 <li class="masthead__menu-item">
       <a class="page-link" href="{{site.github.repository_url}}">Github</a>
                 </li>
        {%- endif -%}
                 </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
            <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
          </svg>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
