  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
<svg style="width:100%;height:auto" viewBox="0 0 283.465 302">
      <g>
          <path fill="#2BB673" d="M143.899,27.667L28.701,95.969l40.198,66.364l5.659,108.334L111.232,242l-1.448-50.504L145.793,217
              l108.106-84.333l3.239-40.12L143.899,27.667z M144.899,118.512l-5.607-3.605l5.802-4.04l5.571,3.63L144.899,118.512z"></path>
      </g>
      <g>
          <polygon fill="#0A774A" points="145.793,174.206 28.701,95.969 31.899,136.333 40.565,244.667 74.558,270.667 68.91,162.547 145.793,217 "></polygon>
          <polygon fill="#0A774A" points="181.057,93.333 150.665,114.497 145.094,110.867 145.083,71.333 "></polygon>
      </g>
  </svg>
  
  {%- if site.github.public_repositories.size > 0 -%}
  {%- assign repos = site.github.public_repositories | sort: "pushed_at" | reverse -%}
  {%- assign date_format = "%Y-%m-%d %H:%M" -%}
  <nav>
    <h3>{{ page.list_title | default: "Repos" }}</h2>
    <ul>
       {%- for repository in repos -%}
         {%- unless repository.fork -%}
            <li>
                <a class=""  href="{{repository.html_url}}">{{ repository.name  | escape }}</a>
                <!--<br/>
                <sup class="post-meta">{{ repository.pushed_at | date: date_format }}, {{ repository.stargazers_count }},  {{ repository.size }}</sup>
                -->
            </li>
        {% endunless %}
     {% endfor %}
    </ul>
  </nav>

  {%- endif -%}

  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | relative_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
