---
layout: single
---
{{ content }}
{%- if site.github.public_repositories.size > 0 -%}
  {%- assign repos = site.github.public_repositories | sort: "pushed_at" | reverse -%}
  {%- assign date_format = "%Y-%m-%d %H:%M" -%}
  <nav>
    <h3>Recent repository activity:</h2>
    <ul>
       {%- for repository in repos limit: 10 -%}
            <li>
                <a class=""  href="{{repository.html_url}}">{{ repository.name  | escape }}</a>
                <br/>
                <sup class="post-meta">{{ repository.pushed_at | date: date_format }}, {{ repository.stargazers_count }},  {{ repository.size }}</sup>
                
            </li>
     {% endfor %}
    </ul>
  </nav>

  {%- endif -%}


